<h1 >Languages</h1>
<hr>
<div class="row">
    <div class="col-md-12 text-right">
        <button
            [routerLink]="['/language', 'new']"
            name="button"
            type="button"
            class="btn btn-outline-primary"
        >
            New Language
        </button>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Company</th>
                        <th scope="col" class="text-right">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-k [ngForOf]="languages | keys" let-i="index">
                        <tr>
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ languages[k].name }}</td>
                            <td>{{ languages[k].company }}</td>
                            <td class="text-right w120">
                                <button
                                    [routerLink]="['/language', k]"
                                    name="button"
                                    type="button" 
                                    class="btn btn-outline-success"
                                >
                                    Editar
                                </button>&nbsp;&nbsp;
                                <button
                                    (click)="delete(k)"
                                    name="button"
                                    type="button"
                                    class="btn btn-outline-danger"
                                >
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
            <div
                *ngIf="(languages | keys).length ===0"
                class="alert alert-info"
                role="alert"
            >
                <strong>No hay</strong> registros que mostrar
            </div>
        </div>
    </div>
</div>
