<h3>Language <small>{{ language.name }}</small></h3>
<button [routerLink]="['/languages']"class="btn btn-outline-danger">Go Home</button>
<button (click)="addNew(forma)"class="btn btn-outline-success">Add new</button>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <form (ngSubmit)="save()" #forma="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    id="name"
                    name="name"
                    placeholder="Language name"
                    class="form-control" [ngClass]="{'is-valid': !name.invalid, 'is-invalid': name.invalid}"
                    required
                    minlength="4" [(ngModel)]="language.name" #name="ngModel"
                >
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <select
                    id="company"
                    class="form-control"
                    [(ngModel)] ="language.company"
                    [ngModelOptions]="{standalone: true}"
                >
                    <option value="Google">Google</option>
                    <option value="Facebook">Facebook</option>
                    <option value="">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="bio">Description</label>
                <textarea
                    id="bio"
                    rows="3" [(ngModel)] ="language.bio" [ngModelOptions]="{standalone: true}"
                    class="form-control"
                    required
                ></textarea>
            </div>
            <button
                [disabled]="!forma.valid"
                type="submit"
                class="btn btn-outline-primary"
            >
                Save
            </button>
        </form>
    </div>
</div>
