<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{ body }}</p>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
    >
        Cancel
    </button>
    <button
        type="button"
        class="btn btn-outline-danger"
        (click)="confirm()"
    >
        OK
    </button>
</div>
